h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lucida Grande', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-shadow: #808080 5px 5px 2px;
}

p {
    font-size: 24px;
    padding-top: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    height: auto;
}

div {
    min-height: 150px;
    padding: 25px;
}

div#red {
    background-color: #ff0000;
    text-align: right;
}

div#blue {
    background-color: #0000ff;
    text-align: left;
}


div#yellow {
    background-color: #ffff00;
    text-align: right;
}

div#yellow h2, div#yellow p {
    color: #000;
}

div#yellow h2 {
    text-shadow: #c7e2c7 5px 5px 2px;
}

div#green {
    background-color: #008000;
    text-align: left;
}

footer p {
    text-align: right;
    padding: 0 10px 10px 0
}
